
@import 'colors';

.wym_classes{
  z-index: 1000;
}

@mixin color($class, $color){
  .text-color-#{$class}{
    color: $color;
  }
  .background-color-#{$class}{
    background-color:  $color;
  }
}


@include color('logo-green', $main_green);
@include color('logo-orange', $main_orange);
@include color('light-green', $light_green);
@include color('red', red);
@include color('yellow', yellow);
@include color('blue', blue);