
@import "colors";


body{

  .content{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .header{
    width: 100%;
    height: 250px;
    background: white;

    a{
      color: white;
      &:hover{
        color: $light_green;
      }
    }

    .logo{
      float: left;
      background-image: image_url("cccLogo.png");
      display: block;
      width: 337px;
      height: 169px;
      margin-left: 30px;
      text-align: left;
    }

    .content{
      height: 250px;
      position: relative;
    }

    .newsletter{
      float: right;
      text-align: right;
      background-color: $main_green;
      height: 57px;
      width: 275px;
      margin-right: 50px;
      display: inline-block;

      .sign-up{
        font-size: 18px;
        font-weight: bold;
        display: block;
        text-align: center;
        margin-top: 15px;
        &:hover{
          text-decoration: none;
        }
      }
    }

    .banner{
      width: 100%;
      height: 65px;
      background-color: $main_green;
      color: white;
      position: absolute;
      bottom: 0px;

      .fb-like{
        margin-left: 30px;
        margin-top: 20px;
      }

    }

  }

  .content{
    .main{
      width: 100%;
      display: inline-block;
      background-color: white;
      margin-bottom: -5px;

      .left-nav{
        background-color: white;
        width:  245px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;

        .menu{
          margin-top: 10px;
          ul{
            list-style: none;
            background-color: $main_orange;
            margin: 0px;

            li{
              padding: 5px;
              position: relative;
              border: #808080 solid 1px;

              &:last-child{
                border-top: none;
              }

              a{
                color: black;
                font-size: 12px;
                &:hover{
                  text-decoration: none;
                }
              }
              ul{
                display: none;
              }
              &.active{
                background-color: $dark_orange;
                ul{
                  position: absolute;
                  left: 245px;
                  top: -1px;
                  width: 200px;
                  display: block;
                }
              }
            }

          }
        }

        .contact-info{
          margin-top: 20px;
          letter-spacing: -0.07em;
          color: $main_green;

          .name{
            font-weight: bold;
            font-size: 18px;
          }
          .address{
            font-size: 16px;
            margin-top: 10px;
          }

          .contact{
            margin-top: 15px;

          }

          .site-links{
            margin-top: 15px;
            margin-bottom: 15px;
            height: 50px;

            a{
              display: block;
              float: left;
              margin-right: 18px;
            }

            .aca{
              img{
                width: 85px;
              }
            }
            .pccca{
              img{
                width: 33px;
              }
            }
            .ccca{
              img{
                width: 65px;
              }
            }
          }

        }


      }

      .yield{
        background-color: white;
        width: 635px;
        float: left;

      }

    }
  }

  .footer{
    clear: both;
    .content{
      position: relative;
      background-color: $main_green;
      color: white;
      height: 50px;

      .pages{
        display: table;
        margin: 0 auto;
        padding-top: 15px;

        a{
          color: white;
          margin-right: 10px;
          padding-right: 10px;
          border-right: $light_green solid 1px;

          &:last-child{
            border-right: none;
          }

          &:hover{
            color: $light_green;
            text-decoration: none;
          }
        }
      }

      .copyright{
        bottom: -25px;
        right: 20px;
        position: absolute;
        color: black;
        font-size: 12px;
      }

    }
    margin-bottom: 100px;
  }

  background: #B79F87;

}