
.header
  .content
    %a.logo{href: '/'}
    .newsletter
      %a.sign-up{href: '/'}
        Sign up for our Newsletter
    .banner
      .fb-like{"data-href" => "https://www.facebook.com/calvincrest", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}