.menu

.contact-info
  .name
    Calvin Crest Camp Conference & Retreat Center
  .address
    2870 County Road 13 Fremont, NE 68025
  .contact
    .item
      phone: 402.628.6455
    .item
      toll free: 877.795.7635
    .item
      fax: 402.628.8255
    .item
      email: calvincrest@calvincrest.org
  .site-links
    %a.aca{href: "http://www.acacamps.org"}
      %img{src: "#{image_path('aca.png')}"}
    %a.pccca{href: "http://www.pccca.net"}
      %img{src: "#{image_path('pcusa.png')}"}
    %a.ccca{href: "http://www.ccca.org"}
      %img{src: "#{image_path('ccca-M-logo-web.jpg')}"}